{% extends "base.html" %}
{% load static %}



{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3 ">
    <h2> Workout Plans / Diet Plans ({{ selected_date }})  </h2>

    <a href="{% url 'admin_workout_plan_add' %}" class="btn btn-primary">
        Add Workout / Diet Plan</a>
</div>


    <form method="get" class="row g-2 mb-3"> 

        <div class="col-md-4">

            <!-- Member filter -->
            <select name="member_id" class="form-select" >
            <option value=""> All Member </option>
            {% for member in members %}
            <option value="{{member.id }}" 
            {% if member.id|stringformat:"s" == selected_member_id %}selected{% endif %} >
                {{ member.full_name }} ({{ member.user.username }})
            </option>
            {% endfor %}
        </select>

        </div>


        <div class="col-md-2 d-flex align-items-end " >
           <button type="submit" class="btn btn-secondary w-100 "> Filter </button>
        </div>
    </form>


    <!-- workout plan data show in plans_list -->

    <div class="row g-3 ">
        {% for wp in workout_plans %}

            <div class=" col-md-6">
                <div class="card shadow-sm ">
                    <div class="card-header bg-primary text-white d-flex justify-content-between">

                    </div>

                </div>

            </div>
        
        {% endfor %}

    </div>

    


{% endblock %}