
{% extends 'base.html' %}

{% block content %}


<div class="container">
  <div class="row">
    
    <div class="col-md-7">
      <h1 class="mb-3">Welcome to the Gym Management System</h1>
      <p>Simple gym management system built with python, Django, bootstrap, html, css and Sqlite</p>
      <p>Manage members, equipment, attendance and many more features!</p>
    </div>

    <div class="col-md-5">
      <div class="card shadow-sm">
        
        <div class="card-header bg-primary text-white">
          Contact / Enquiry
        </div> 
        
        <div class="card-body">
          <form method="post">
            {% csrf_token %}

            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Enter your full Name " required>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email"  name="email" placeholder="Enter your email " required>
            </div>

            <div class="mb-3">
              <label for="mobile" class="form-label">Mobile</label>
              <input type="text" class="form-control" id="mobile" name="mobile" maxlength="10" placeholder="Enter your mobile number " required >
            </div>

            <div class="mb-3">
              <label for="message" class="form-label">Message</label>
              <textarea type="text" class="form-control" rows="3" name="message" placeholder="Enter your message " required></textarea>
            </div>



            <button type="submit" class="btn btn-primary w-100">Submit Enquiry</button>
          </form>
        </div>

      </div>
    </div>

  </div>
</div>

{% endblock %}