{% extends "base.html" %}
{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/member_profile_edit.css' %}">

<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

{% endblock %}

{% block content %}

<div class="edit-profile">

    <div class="page-header">

        <div>

            <h2>
                <i class="bi bi-pencil-square"></i>
                Edit Profile
            </h2>

            <p>Update your personal information.</p>

        </div>

    </div>

    <div class="form-card">

        <form method="post" class="row g-4">

            {% csrf_token %}

            <div class="col-md-6">

                <label class="form-label">
                    Full Name
                </label>

                <input type="text" name="full_name"  class="form-control" value="{{ member.full_name }}" required>

            </div>

            <div class="col-md-6">

                <label class="form-label">
                    Phone Number
                </label>

                <input type="text" maxlength="10" name="mobile" class="form-control" value="{{ member.mobile }}" required>

            </div>

            <div class="col-md-3">

                <label class="form-label">
                    Age
                </label>

                <input type="number" min="1" name="age" class="form-control" value="{{ member.age }}">

            </div>

            <div class="col-md-3">

                <label class="form-label">
                    Gender
                </label>

                <select class="form-select" name="gender">

                    <option value="MALE"
                    {% if member.gender == "MALE" %}selected{% endif %}>
                        Male
                    </option>

                    <option value="FEMALE"
                    {% if member.gender == "FEMALE" %}selected{% endif %}>
                        Female
                    </option>

                    <option value="OTHER"
                    {% if member.gender == "OTHER" %}selected{% endif %}>
                        Other
                    </option>

                </select>

            </div>

            <div class="col-md-12">

                <label class="form-label">
                    Address
                </label>

                <textarea rows="4" name="address" class="form-control">{{ member.address }}</textarea>

            </div>

            <div class="col-12 d-flex gap-3">

                <button class="btn save-btn">

                    <i class="bi bi-check-circle-fill"></i>

                    Save Changes

                </button>

                <a href="{% url 'member_profile' %}" class="btn cancel-btn">

                    <i class="bi bi-arrow-left-circle"></i>

                    Cancel

                </a>

            </div>

        </form>

    </div>

</div>

{% endblock %}