{% extends 'base.html' %}

{% block content %}

<h2 class="mb-3"> Welcome, {{ request.user.username }} </h2>

<div class="row g-3">
    <div class="col-md-4">
        <div class="card text-bg-primary">
            <div class="card-body">
                <h5 class="card-title"> Total Attendance </h5>
                <p class="fs-3"> {{total_attendance}} </p>

            </div>

        </div>

    </div>

    <div class="col-md-4">
        <div class="card text-bg-success">
            <div class="card-body">
                <h5 class="card-title"> Total Payments </h5>
                <p class="fs-3"> {{total_payments}} </p>

            </div>

        </div>

    </div>


    <div class="col-md-4">
        <div class="card text-bg-danger">
            <div class="card-body">
                <h5 class="card-title"> Total Workout </h5>
                <p class="fs-3"> {{total_workout}} </p>

            </div>

        </div>

    </div>

</div>

<hr>

<a href=" {% url 'member_profile' %}" class ="btn btn-outline-primary"> My Profile </a>
<a href=" {% url 'member_attendance' %}" class ="btn btn-outline-secondary"> My Attendance </a>
<a href=" {% url 'member_membership' %}" class ="btn btn-outline-success"> My Membership </a>
<a href=" {% url 'member_payments' %}" class ="btn btn-outline-info"> My Payments </a>

<a href=" {% url 'member_workout_plans' %}" class ="btn btn-outline-warning"> My Workout Plans </a>


{% endblock %}