{% extends "base.html" %}
{% load static %}



{% block content %}

<h2 class="mb-3" >My Profile </h2>

    <div class="mb-3">
        <a href=" {% url 'member_profile_edit' %} " class="btn btn-primary "> Edit Profile </a>
        <a href=" {% url 'member_change_password' %} " class="btn btn-primary "> Change Password </a>
    </div>


    <table class="table table-bordered table-striped w-50 ">
            <tr>
                <th> Full Name </th>
                <td> {{ member.full_name }} </td>
            </tr>

            <tr>
                <th> Username </th>
                <td> {{member.user}} </td>
            </tr>

            <tr>
                <th> Phone N0 </th>
                <td> {{member.mobile}} </td>
            </tr>

            <tr>
                <th> Age </th>
                <td> {{member.age}} </td>
            </tr>

            <tr>
                <th> Gender </th>
                <td> {{member.gender}} </td>
            </tr>
            <tr>
                <th> Address </th>
                <td> {{member.address}} </td>
            </tr>
             
            <tr>
                <th> Joining Date </th>
                <td> {{member.joining_date}} </td>
            </tr>

        

    </table>


{% endblock %}